#minutes {
  margin-right: 40px;
}
#datestamp {
  margin
}
.time {
  margin-right: 30px;
}
ul {
  list-style: none;
}
form {
  margin-bottom: 30px;
}
blockquote {
  font-family: sans-serif;
  font-size: 1em;
  font-style: italic;
  background-color: #3fa6a6;
  opacity: 20%;
}